
body {
	background-color: green;
}

div a[aria-label="Sponsored"] {
	border: 10px solid blue; */
}

div a[href*="tvn.pl"] {
	color: red !important;
       text-decoration: line-through;
}

div a[href*="tvn.pl"] span {
	color: inherit;
}

